.callout__container{
    border: 1px solid #D1D3D4;
    margin: 20px;
    width: 700px;
}
.callout__header{
    padding-left: 20px;
}
.callout__body{
    padding-left: 20px;
    padding-bottom: 15px;
}
.callout__body a{
    display: block;
    color: #005DAA;
}