.cbxHeader{
    background-color: #264A64;
    color: white;
    padding: 15px;
    padding-top: 10px;
}
.nav{
    color: white;
}
.cbx__search{
    background-image: url(/assets/img/usa-icons-bg/search--white.svg);
}