/* vertical tabs */

.vertical_tabs {
    position: relative;   
    min-height: 350px; /* This part sucks */
    clear: both;
    margin: 25px 0;
  }
  .vertical_tab {
    float: left;  
    clear: both;
    width: 286px;
  }
  .vertical_tab label {
      background: #eee;
      padding: 10px;
      margin-left: -1px;
      font-size: 18px;
      vertical-align: middle;
      position: relative;
      left: 1px;
      width: 264px;
      height: 68px;
      display: table-cell;
      font-weight: 300;
  }
  .vertical_tab [type=radio] {
    display: none;  
  }
  .tab_content {
    position: absolute;
    top: 0;
    left: 286px;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    overflow-y: scroll;
    line-height: 25px;
    font-family: 'Lora';
   }
   .tab_content h3{
     font-weight: 800;
   }
  .tab_content span {
    animation: 0.5s ease-out 0s 1 slideInFromTop; 
  }
  [type=radio]:checked ~ label {
    background: white;
    border-left: 4px solid #E50E63;
    z-index: 2;
    color:#E50E63;
    font-weight: bold; 
  }
  [type=radio]:checked ~ label ~ .tab_content {
    z-index: 1;
  }