/* vertical tabs */

.vertical_tabs {
    position: relative;   
    min-height: 360px; /* This part sucks */
    clear: both;
    margin: 25px 0;
  }
  .vertical_tab {
    float: left;  
    clear: both;
    width: 286px;
  }
  .vertical_tab label {
      background: #eee;
      padding: 10px;
      border: 1px solid #ccc;
      margin-left: -1px;
      font-size: 21px;
      vertical-align: middle;
      position: relative;
      left: 1px;
      width: 264px;
      height: 68px;
      display: table-cell;
  }
  .vertical_tab [type=radio] {
    display: none;   
  }
  .tab_content {
    position: absolute;
    top: 0;
    left: 286px;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
   }
  .tab_content span {
    animation: 0.5s ease-out 0s 1 slideInFromTop; 
  }
  [type=radio]:checked ~ label {
    background: white;
    border-bottom: 2px solid #8bc34a;
    z-index: 2;
  }
  [type=radio]:checked ~ label ~ .tab_content {
    z-index: 1;
  }