.left-aside{
    float: left;
    width: 25%;
}
.center-main{
    float: right;
    width: 75%;
}
.main::after{
    content: "";
    display: table;
    clear: both;
}
.sort{
    float: left;
    width: 25%;
}
.results-show::after{
    content: "";
    display: table;
    clear: both;
}

//side bar

#page-title{
    padding-left: 20px;
}
.side-nav ul{
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
}
.list-item{
    background-color: lightgray;
    margin-bottom: 5px;
    padding: 20px 10px;
    font-weight: bold;
}

.filter-section{
    margin-bottom: 30px;
    margin-top: 20px;
}

#filter_heading{
    margin: 0 auto;
    font-weight: bold;
    padding-left: 20px;
}

#filter_button{
    padding: 5px;
    width: 130px;
    height: 30px;
    vertical-align: center;
    margin: 0 auto;
    margin-right: 20px;
    float: right;
}

//main content

.event-list__item{
    margin-bottom: 20px;
}

.calendar__icon{
    display: inline-block;
    vertical-align: bottom;
}
.calendar__icon img{
    padding-top: 20px;
}

.event__details{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 85%;
    margin-top: 20px;
}

.event__info{
    font-weight: bold;
    display: inline;
    padding-right: 50px;
}
.event__sponsor{
    color: gray;
}
.event__location{
    font-weight: bold;
    display: inline;
    padding-right: 50px;
}
.event__desc{
    width: 50%;
}

.event-detail{
    display: inline-block;
    font-weight: bold;
}
.contact{
    font-weight: bold;
}
.event-name{
    padding: 0;
    display: inline;
}
.cal-icon{
    float: left;
}

.event_details{
    margin-left: 20px;
}

.next-page{
    display: inline-block;
}

.inline{
    display:inline-block;
}

button{
    border: 1px solid blue;
    color: blue;
    background-color: white;
}

.events-list-item{
    margin-top: 20px;
}

input{
    width: 90%;
    height: 30px;
}

#search__button{
    height: 30px;
    background-color: blue;
    color: white;
    width: 8%;
}

.cards__side{
    padding-left: 20px;
    width: 250%;
    margin-top: 20px;
}

.button-group button{
    background-color: lightgray;
    width: 90%;
    margin-right: 20px;
    margin-left: 20px;
    color: black;
    margin-top: 5px;
    border: none;
    cursor: pointer;
}
.button-group button:hover{
    background-color: gray;
}