<html>
    <head>
        <title>
            {% if page.title %}
                {{ page.title }}:
            {% endif %} 
            The CWIG Pattern Library</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="/Test_Pages/cbxTest.scss">
        <script src="/assets/js/uswds.min.js" async></script>
        <script src="https://kit.fontawesome.com/dad43c51a6.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <a class="usa-skipnav" href="#main-content">Skip to main content</a>

  <div class="usa-overlay"></div>
  <div class="grid-container">
    <header class="usa-header usa-header--basic cbxHeader">
 <div class="usa-nav-container">
    <div class="usa-navbar">
       <div class="usa-logo" id="basic-logo">
          <em class="usa-logo__text">
          <a href="javascript:void(0)" title="CBX" style="color: white; font-size: 32px;">
          CBX<br><span style="font-size: small;">Children's Bureau Express</span>
          </a>
          </em>
       </div>
       <button class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
       <button class="usa-nav__close">
       <img src="/img/usa-icons/close.svg" role="img" alt="Close"/>
       </button>
       <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
             <a href="/" class="usa-nav__link">
             <span class="nav">Current Issue</span>
             </a>
          </li>
          <li class="usa-nav__primary-item">
             <a href="javascript:void(0)" class="usa-nav__link">
             <span class="nav">Previous Issues</span>
             </a>
          </li>
          <li class="usa-nav__primary-item">
             <a href="/about" class="usa-nav__link">
             <span class="nav">About Us</span>
             </a>
          </li>
          <li class="usa-nav__primary-item">
             <a href="/contact" class="usa-nav__link">
             <span class="nav">Contact Us</span>
             </a>
          </li>
       </ul>
       <form class="usa-search usa-search--small" role="search">
          <label class="usa-sr-only" for="basic-search-field-en-small">
          Search
          </label>
          <input class="usa-input" id="basic-search-field-en-small" type="search" name="search"/>
          <button class="usa-button" type="submit" style="background-color: #63BAB0;">
          <span class="usa-sr-only">Search</span>
          </button>
       </form>
    </nav>
 </div>
</header>
<div>
<nav class="usa-breadcrumb" aria-label="Breadcrumbs,,">
<ol class="usa-breadcrumb__list">
  <li class="usa-breadcrumb__list-item">
    <a href="javascript:void(0);" class="usa-breadcrumb__link">
      <span>Children's Bureau Express</span>
    </a>
  </li>
  <li class="usa-breadcrumb__list-item">
    <a href="javascript:void(0);" class="usa-breadcrumb__link">
      <span>Contact</span>
    </a>
  </li>
  
</ol>
</nav>
</div>
  </div>
        {{ content }}
      
  <footer class="usa-footer">
      <div class="usa-footer__secondary-section">
        <div class="grid-container">
          <div class="grid-row grid-gap">
            <div
              class="
                usa-footer__logo
                grid-row
                mobile-lg:grid-col-6 mobile-lg:grid-gap-2
              "
            >
              <div class="mobile-lg:grid-col-auto">
                <p class="usa-footer__logo-heading">Children's Bureau Express</p>
                <h4>Contact Center</h4>
                <a href="">cb_express@childwelfare.gov</a>
              </div>
              <div class="usa-footer__social-links grid-row grid-gap-1">
                <div class="grid-col-auto">
                  <a
                    class="usa-social-link usa-social-link--facebook"
                    href="javascript:void(0);"
                  >
                    <span>Facebook</span>
                  </a>
                </div>
    
                <div class="grid-col-auto">
                  <a
                    class="usa-social-link usa-social-link--twitter"
                    href="javascript:void(0);"
                  >
                    <span>Twitter</span>
                  </a>
                </div>
    
                <div class="grid-col-auto">
                  <a
                    class="usa-social-link usa-social-link--youtube"
                    href="javascript:void(0);"
                  >
                    <span>YouTube</span>
                  </a>
                </div>
    
                <div class="grid-col-auto">
                  <a
                    class="usa-social-link usa-social-link--instagram"
                    href="javascript:void(0);"
                  >
                    <span>Instagram</span>
                  </a>
                </div>
    
                <div class="grid-col-auto">
                  <a
                    class="usa-social-link usa-social-link--rss"
                    href="javascript:void(0);"
                  >
                    <span>RSS</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="usa-footer__contact-links mobile-lg:grid-col-6">
              <address class="usa-footer__address">
                <div class="usa-footer__contact-info grid-row grid-gap">
                  <div class="grid-col-auto">
                    <p>Sign up</p>
                  </div>
                  <div class="grid-col-auto">
                    <form class="usa-search" role="search">
                      <label class="usa-sr-only" for="basic-search-field-en-small">
                      Search
                      </label>
                      <input class="usa-input" id="basic-search-field-en-small" type="search" name="search"/>
                      <button class="usa-button" type="submit" style="background-color: #63BAB0;">
                        Sign up
                      </button>
                   </form>
                  </div>
                </div>
              </address>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
<div class="usa-identifier">
  <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier,,,">
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href="javascript:void(0);" class="usa-identifier__logo">
          <img
            class="usa-identifier__logo-img"
            src="/assets/img/cb-logo-white.svg"
            alt="&lt;Parent agency&gt; logo"
            role="img"
          />
        </a>
        <a href="javascript:void(0);" class="usa-identifier__logo">
          <img
            class="usa-identifier__logo-img"
            src="/assets/img/acf-logo-white.svg"
            alt="&lt;Other agency&gt; logo"
            role="img"
          />
        </a>
      </div>
      <div class="usa-identifier__identity" aria-label="Agency description">
        <p class="usa-identifier__identity-domain">cbexpress.acf.hhs.gov</p>
        <p class="usa-identifier__identity-disclaimer">
          An official website of the
          <a href="https://www.acf.hhs.gov/cb/">U.S. Department of Health and Human Services,</a><a href=""> Administration
            of Children and Families</a> and the
          <a href="https://www.acf.hhs.gov/">Children's Bureau</a>
        </p>
      </div>
    </div>
  </section>
  <nav
    class="usa-identifier__section usa-identifier__section--required-links"
    aria-label="Links to help navigate the policies and procedures for Child Welfare Gateway."
  >
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        <li class="usa-identifier__required-links-item">
          <a href="https://www.acf.hhs.gov/cb/" class="usa-identifier__required-link">About Children's Bureau Express</a
          >
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.childwelfare.gov/accessibility/" class="usa-identifier__required-link"
            >Accessibility support</a
          >
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.acf.hhs.gov/foia"
            class="usa-identifier__required-link usa-link"
            >FOIA requests</a
          >
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.acf.hhs.gov/no-fear-act"
            class="usa-identifier__required-link usa-link"
            >No FEAR Act data</a
          >
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://oig.hhs.gov/"
            class="usa-identifier__required-link usa-link"
            >Office of the Inspector</a
          >
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://oig.hhs.gov/"
            class="usa-identifier__required-link usa-link"
            >General</a
          >
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.childwelfare.gov/performancereports/"
            class="usa-identifier__required-link usa-link"
            >Performance reports</a
          >
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.childwelfare.gov/privacypolicy/"
            class="usa-identifier__required-link usa-link"
            >Privacy policy</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <section
    class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services,,,"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        Looking for U.S. government information and services?
      </div>
      <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
    </div>
  </section>
</div>
  </body>
</html>