.accordion{
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}
.accordion__label,
.accordion__content{
    padding: 14px 20px;
}
.accordion__section{
    margin-bottom: 10px;
}
.accordion__label{
    display: block;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
    background-color: #C7CFE9;
}
.accordion__label:hover{
    color: #005DAA;
    background: rgba(161, 178, 216, 1);
}
.accordion__input:checked ~ .accordion__label:hover{
    color:#005DAA;
}
.accordion__label::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 36px;
    height: 18px;
    background-image: url(/assets/img/icons/plus.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.1s;
}

.accordion__content{
    background-color: #fff;
    font-size: 0.85em;
    display: none;
}
.accordion__content p{
    font-family: 'Lora';
}

.accordion__input{
    display: none;
}

.accordion__input:checked ~ .accordion__content{
    display: block;
}

.accordion__input:checked ~ .accordion__label::after{
    background-image: url(/assets/img/icons/minus.svg);
}