
 /* For mobile phones: */

@media only screen and (min-width: 600px) {
    /* For tablets: */
}
@media only screen and (min-width: 880px) {
    /* For desktop: */
    body{
        background-color: #002552;
    }
    .breadcrumbs{
        background-color: #002552;
        color: white;
    }
    .intro__section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 100px;
        gap: 5rem;
        background-color: #002552;
        color: white;
        border-bottom: 5px solid #E50E63;
    }
    .page__title{
        order: 1;
    }
    .socials__spanish{
        order: 2;
    }
    .content__section{
        background-color: white;
    }
    .cards{
        margin: auto;
    }
    .main-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .tabs{
        order: 1;
    }
    .overview__section{
        order: 2;
    }
}