
 /* For mobile phones: */

@media only screen and (min-width: 600px) {
    /* For tablets: */
}
@media only screen and (min-width: 880px) {
    /* For desktop: */
    .breadcrumbs{
        background-color: #002552;
        color: white;
    }
    .intro__section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 100px;
        gap: 5rem;
        background-color: #002552;
        color: white;
        border-bottom: 5px solid #E50E63;
        padding-bottom: 20px;
    }
    .page__title{
        order: 1;
    }
    .right__col{
        order: 2;
        justify-self: end;
        margin-right: 100px;
    }
    .spanish__button{
        margin-left: 200px;
        margin-bottom: 60px;
        margin-top: 20px;
    }
    .socials{
        text-align: center;
        margin-left: 125px;
    }
    .content__section{
        background-color: white;
    }
    .callouts{
        display: grid;
        grid-template-columns: auto auto;
        gap: 0;
        margin-top: 20px;
    }
    .main-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .tabs{
        order: 1;
    }
    .overview__section{
        order: 2;
    }
}