.bodybar {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.body-white {
    background-color: white;
}

.body-blue-20 {
    background-color: #C7CFE9;
}

.featured .card__container {
    border-top: #E50E63 5px solid;
}


.page-header {
}

.page-header .default__button {
    color: #005ea2;
    background-color: white;
    border: solid #005ea2;
    
}

.header-full {
    width: 100%;
    padding-bottom: 2rem;
    background-color: #002552;
    color: white;
    margin: 0;
    
}

.header-full .default__button {
    color: white;
    background-color: transparent;
    border: solid white;
    
}

@media only screen and (min-width: 800px) {
    .page-header .default__button {
        display: block;
        position: relative;
        left: 90%;
        top: 55px;
    }
}

.page-header .intro {
    font-size: 1.25rem;
    max-width: 80ex;
}

.page-footer {
}

.page-footer-card a {
    text-decoration: none;
    color: black;
}

.page-footer-card a:hover{
    color: white;
    background-color: #002552;
}

