.card__container:hover{
    background-color: #002552;
    color: white;
    cursor: pointer;
}
.card__container{
    color: #1b1b1b;
    background-color: white;
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 1.5;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
}

.usa-card__heading{
    font-family: 'Montserrat';
    font-size: 23px;
}
p{
    font-family: 'Montserrat';
    font-size: 16px;
}