.usa-card__container:hover{
    background-color: #002552;
    color: white;
    cursor: pointer;
}

.usa-card__heading{
    font-family: 'Montserrat';
    font-size: 23px;
}
p{
    font-family: 'Montserrat';
    font-size: 16px;
}