 /* For mobile phones: */
 ul.breadcrumb li a{
    color:blue;
}
.main__content{
    background-color: #D1D3D4;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    ul.breadcrumb li a{
        color:blue;
    }
    ul.breadcrumb li+li:before {
        padding: 8px;
        color: #E50E63;
        content: "/\00a0";
      }
      .main__content{
        background-color: #D1D3D4;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .usa-card-group{
        margin: auto;
    }
}
@media only screen and (min-width: 880px) {
    /* For desktop: */
    ul.breadcrumb li a{
        color:blue;
    }
    ul.breadcrumb li+li:before {
        padding: 8px;
        color: #E50E63;
        content: "/\00a0";
    }
    .intro__section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
    .page__title{
        order: 1;
        gap: 1rem;
    }
    .callout__box{
        order: 2;
    }
    .event__search{
        background-color: #71767A;
        color: white;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .event__search a{
        color: white;
    }
    .main__content{
        background-color: #D1D3D4;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main__content .section__h2{
        color: #002552;
    }
    .usa-card-group{
        margin: auto;
    }
}