 /* For mobile phones: */

 .main__content{
    background-color: #D1D3D4;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
      .main__content{
        background-color: #D1D3D4;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .usa-card-group{
        margin: auto;
    }
}
@media only screen and (min-width: 880px) {
    /* For desktop: */
    .intro__section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
    .page__title{
        order: 1;
        gap: 1rem;
    }
    .callout__box{
        order: 2;
    }
    .img__div{
        background-image: 
            linear-gradient(black, black),
            url('/assets/img/prototype/audience-applauding-speaker-after-conference-600w-479633347.webp');
        color: white;
        padding-top: 30px;
        padding-bottom: 30px;
        background-size: cover;
        background-blend-mode: saturation;
    }
    .img__div a{
        color:#005DAA;
        display: block;
        margin-top: 10px;
    }
    .event__search a{
        color: white;
    }
    .main__content{
        background-color: #D1D3D4;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main__content .section__h2{
        color: #002552;
    }
    .usa-card-group{
        margin: auto;
    }
    .sub__content h2{
        color: #002552;
    }
    .sub__card{
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        margin-bottom: 40px;
    }
    .sub__card img{
        order: 1;
    }
    .card__text{
        order: 2;
    }
    .sub__price{
        font-size: 12px;
        color: #005DAA;
    }
    .card__text a{
        color: #005DAA;
    }
    .subscribe__banner{
        background-color: #EEF1F9;
        text-align: center;
    }
    .subscribe__banner a{
        color: #005DAA;
        display: block;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .subscribe__banner h2{
        color: #002552;
        padding-top: 10px;
    }
}