/* For mobile phones: */
ul.breadcrumb li a{
    color:blue;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    ul.breadcrumb li a{
        color:blue;
    }
    ul.breadcrumb li+li:before {
        padding: 8px;
        color: #E50E63;
        content: "/\00a0";
      }
}
@media only screen and (min-width: 880px) {
    /* For desktop: */
    ul.breadcrumb li a{
        color:blue;
    }
    ul.breadcrumb li+li:before {
        padding: 8px;
        color: #E50E63;
        content: "/\00a0";
    }
    .content__container{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .left__col{
        order: 1;
        margin-left: 100px;
    }
    .main__col{
        order: 2;
    }
    .more__info{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .more_from_this_sponsor{
        order: 1;
    }
    .see_all_events{
        order: 2;
    }
    .cards{
        order: 3;
    }
    .card_2{
        order: 4;
    }
    .callout__box{
        order: 5;
        background-color: lightgray;
        width: 100%;
    }
}