.page__footer{
    background-color: white;
}
.footer__list-item{
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}
.usa-footer__primary-link{
    margin-right: auto;
    margin-left: auto;
}
.secondary__link{
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
}
.secondary__link-item{
 padding-top: 5%;
 padding-bottom: 5%;
}
.search__container__footer{
    float: right;
    margin-top: 5%;
}
.search__container__footer::after{
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 600px) {
    .search__container__footer {
      float: none;
    }
}