.page__header{
    background-color: #002552;
    color: white;
    border-bottom: 10px solid #E50E63;
}

.menu__btn{
    background-color: #E50E63;
    color: white;
    -webkit-font-smoothing: inherit;
    text-decoration: underline;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    flex: 0 1 auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.87rem;
    height: 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.nav__inner{
    padding-left: 2%;
    padding-bottom: 2%;
}
.topnav span:hover{
    border-bottom: solid #E50E63 3px;
}
.nav__item{
    margin-right: 2%;
}

.nav__submenu a{
    color: white;
}

.page__header a{
    color: white;
}
.page__header span{
    color: white;
}

.search__links a{
    text-decoration: underline;
    margin-bottom: 3%;
}
.spanish__link a:hover{
    color:#005DAA;
}


  /* For mobile phones: */
    .mobile__banner{
        background-color: #F7F9FA;
        width: 100%;
        color: black;
        display: inline;
        }  
    .cwig__logo {
        max-width: 200px;
    }
@media only screen and (min-width: 600px) {
    /* For tablets: */
    header{
        margin-bottom: 5%;
        border-bottom: white solid 1px;
    }
    .cwig__logo{
        max-width: 200px;
        height: auto !important;
        padding-bottom: 2%;
    }
    .mobile__banner{
        display: none;
    }
  }
  @media only screen and (min-width: 880px) {
    /* For desktop: */
    header{
        margin-bottom: 5%;
        border-bottom: white solid 1px;
    }
    .cwig__logo{
        width: 100%;
        max-width: 300px;
        height: auto !important;
        padding-left: 2%;
    }
    .mobile__banner{
        display: none;
    }
  }
