.page__header{
    background-color: #002552;
    color: white;
    border-bottom: 10px solid #E50E63;
}
.menu__btn{
    background-color: #E50E63;
    color: white;
    -webkit-font-smoothing: inherit;
    text-decoration: underline;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    flex: 0 1 auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.87rem;
    height: 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.topnav span:hover{
    border-bottom: solid #E50E63 3px;
}
.nav__item{
    margin-right: 2%;
}
hr{
    padding-top: 1px;
}

.nav__submenu a{
    color: white;
}
.logo__section{
    padding-bottom: 2%;
}
.cwig__logo{
    width: 70%;
    height:auto;
    margin-bottom: 0%;
}
hr{
    color: white;
}
.page__header a{
    color: white;
}
.page__header span{
    color: white;
}
.nav__secondary{
    margin-left: auto;
    margin-right: 0;
}
.search__links a{
    text-decoration: underline;
    margin-bottom: 3%;
}

#breadcrumb__section{
    background-color: #002552;
}
#breadcrumb__section a{
    color: white;
}
#breadcrumb__section span{
    color: white;
}
