.page__header{
    background-color: #002552;
    color: white;
    border-bottom: 10px solid #E50E63;
}
.usa-nav__primary-item button{
    
}
.page__header a{
    color: white;
}
.page__header span{
    color: white;
}
#breadcrumb__section{
    background-color: #002552;
}
#breadcrumb__section a{
    color: white;
}
#breadcrumb__section span{
    color: white;
}
.page__intro{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #002552;
    color: white;
}
.intro-text{
    padding-right: 10%;
}
.content__section{
    background-color: #D1D3D4;
    padding-top: 10%;
    padding-bottom: 10%;
}
.usa-card__container:hover{
    background-color: #002552;
    color: white;
    cursor: pointer;
}
.page__footer{
    background-color: white;
}
.secondary__link{
    list-style-type: none;
    padding-left: 0%;
}
.secondary__link-item{
 padding-top: 5%;
 padding-bottom: 5%;
}
.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    hyphens: auto;
  }
.identifier__section{
    background-color: #002552;
}
.identifier__section a{
    color: white;
}