  /* For mobile phones: */
  #page__title-mobile{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 38px;
    margin-left: 35px;
}
#page__title{
    display: none;
}
.content__section{
    background-color: #D1D3D4;
    padding-top: 10%;
    padding-bottom: 10%;
}
.page__title{
    order: 1;
}
.page__top{
    background-color: #002552;
}
.breadcrumbs{
    color: white;
}
.page__intro{
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 10px solid #E50E63;
    background-color: #002552;
    color: white;
}
.feature__img{
    order: 2;
    width: 100%;
}
.intro__text{
    order: 3;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 29px;
}
.intro__text p{
    font-family: 'Lora', serif;
}
.footer a{
    color: #005DAA
}
  @media only screen and (min-width: 601px) {
    /* For tablets: */
    .page__intro{
        display: grid;
        grid-template-columns: 1fr 300px;
        gap: 1rem;
        grid-auto-rows: 250px;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
    }
    .feature__img{
        order: 2;
        min-width: 400px;
        max-width: 100%;
        height: auto;
        margin-bottom: -70px;
    }
    .intro__text{
        order: 1;
        grid-row: 1/2;
        padding-bottom: 20px;
        position: relative;
        max-width: 100%;
        max-height: 100%;
    }
    .page__title{
        display: none;
    }
    #page__title{
        display: block;
    }
}
@media only screen and (min-width: 1280px) {
    /* For desktop: */
    .page__intro{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        border-bottom: 10px solid #E50E63;
    }
    .feature__img{
        order: 2;
        flex: 1.5;
        margin-bottom: -100px;
        padding-top: 0;
        max-width: 100%;
        height: auto;
    }
    .intro__text{
        order: 1;
        padding: 10px;
        padding-left: 50px;
        margin-left: 50px;
        padding-right: 50px;
        line-height: 29px;
        flex: 1;
    }
    #page__title-mobile{
        display: none;
    }
    #page__title{
        display: block;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 38px;
        margin-left: 0px;
    }
}