.page__header{
    background-color: #002552;
    color: white;
    border-bottom: 10px solid #E50E63;
}
.menu__btn{
    background-color: #E50E63;
    color: white;
    padding-bottom: 0%;
}
.topnav button.active{
    border-bottom: 3px solid #E50E63;
}
.topnav button:hover{
    border-bottom: 3px solid #E50E63;
}
.simple__link:hover{
    border-bottom: 3px solid #E50E63;
}
hr{
    padding-top: 1px;
}
.nav__link[aria-expanded="true"]::after,
.nav__link[aria-expanded="true"]:hover::after{
    display: none;
}
.logo__section{
    padding-bottom: 2%;
}
#page__title{
    font-size: large;
}
hr{
    color: white;
}
.page__header a{
    color: white;
}
.page__header span{
    color: white;
}
.search__links a{
    text-decoration: underline;
}

#breadcrumb__section{
    background-color: #002552;
}
#breadcrumb__section a{
    color: white;
}
#breadcrumb__section span{
    color: white;
}
.page__intro{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #002552;
    color: white;
}
.intro-text{
    padding-right: 10%;
}
.content__section{
    background-color: #D1D3D4;
    padding-top: 10%;
    padding-bottom: 10%;
}

//taken from _header.scss at .usa-nav and _navbar.scss under uflex
.for__later{
    border-bottom: units(1px) solid color("base-lighter");
    border-top: units(1px) solid color("base-lighter");
}