.last-updated { margin-top: 50px; margin-bottom: 50px;}

.design-preview {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding-top: 20px;
    padding-bottom: 15px;
}

.col-1 {
  max-width: 72ex;
  margin: auto;
}
.col-2 {
    @include grid-row;
}
.article {
  @include u-width(full);

  @include at-media(tablet) {
    @include grid-col(9);
  }

  @include at-media(desktop) {
    @include grid-col(8);
  }
}

.left-nav {
  display: none;

  @include at-media(desktop) {
    @include grid-col(3);
    display: block;
  }
}

.sidebar {
  @include u-width(full);

  @include at-media(tablet) {
    @include grid-col(3);
    @include u-order(last)
  }

  @include at-media(desktop) {
    @include grid-col(4);
    @include u-order(last)
  }
}

// pull quote
.quote {
    margin-left: 10px; 
    border-left: 1px solid color("primary"); // this should be the link color -- need to come back and check
    padding-left: 10px;
}

.library-icons {
  max-width: 20px;
  height: auto;
}

.text-icon {
  max-height: 16px; width: auto; padding-left: 2px;
}
.designcomps {
  @include grid-row;
}

.designcomp-layout {
  @include u-width(full);

  @include at-media(tablet) {
    @include grid-col(4);
    @include u-order(last)
  }
}

.designcomp-image {
  @include u-width(full);

  @include at-media(tablet) {
    @include grid-col(4);
  }
  img { 
    width: 80%;
    height: auto;
  }
}
.designcomp-image-sm {
  @include u-width(full);

  @include at-media(tablet) {
    @include grid-col(2);
  }
  img { 
    width: auto;
    max-height: 350px;
  }
}