.last-updated { margin-top: 50px; margin-bottom: 50px;}

.design-preview {
    border: 1px solid #d3d3d3;
    padding: 20px;
    box-shadow: 2px 2px #d3d3d3;
}

.2-col {
    @extend .grid-row;
}
.article {
    @extend .grid-col-8;
}

.sidebar {
    @extend .grid-col-3;
}