* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .description {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Create two columns/boxes that floats next to each other */
  .image_screenshot {
    float: left;
    width: 30%;
    height: auto;
    padding: 1px;
    position: relative;
  }

  .image_screenshot button{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .responsive {
    width: 100%;
    height: auto;
  }
  
  .functionality {
    float: left;
    padding: 14px;
    width: 70%;
    background-color: #f1f1f1;
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .specs{
    background-color: rgb(145, 139, 139);
    padding: 10px;
    text-align: center;
    color: white;
  }

  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }

  .modal__container{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal__container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal{
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    text-align: center;
}
  @media (max-width: 600px) {
    nav, article .image_screenshot{
      width: 100%;
      height: auto;
    }
  }