.quote{
    margin-left: 10px;
    border-left: 3px solid #E50E63;
    padding-left: 10px;
    font-family: 'Lora';
    font-size: 21px;
}
.speaker{
    color:#E50E63;
    text-transform: uppercase;
    font-size: small;
}