
.icon-card .usa-icon {
    height: 30px; width: auto; display: block; margin: auto;
}

.icon-card h2 {
    text-align: center; 
    padding-top: 10px; 
}

.icon-card a {
    text-decoration: none;
    color: black;
}

.icon-card a:hover{
    color: white;
    background-color: #002552;
}