//CTA Button Inverted

.callout__container__inv:hover{
    background-color: #002552;
    color: white;
    cursor: pointer;
}
.callout__container__inv{
    width: 400px;
}
.callout__heading{
    margin: auto;
}
.callout__inc__body{
    margin: auto;
}