.usa-navbar {
  @include border-box-sizing;
  height: units($size-touch-target);

  @include at-media-max($theme-header-min-width) {
    @include u-flex("align-center");

    display: flex;
  }

  @include at-media($theme-header-min-width) {
    border-bottom: none;
    display: inline-block;
    height: auto;
  }
}
