.usa-pagination__button{
    color: #6D6E71;
    border: none;
}
.usa-pagination__button:hover{
    background-color: #002552;
    color: white;
}
.current{
    background-color: #002552;
    color: white;
}