.callout__container{
    background-color: white;
    width: 300px;
    padding: 10px;
}
.callout__container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 10%;
}
.callout__container h3{
    color: #002552;
    text-align: center;
}