.callout__container{
    background-color: white;
    width: 300px;
    padding: 10px;
    color: #002552;
    text-align: center;
    border: solid white;
}
.callout__container:hover{
    background-color: #002552;
    color: white;
    cursor: pointer;
}
.callout__container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 10%;
}