---
layout: prototype/colorVers/proto-default-color
---
<link rel="stylesheet" href="/assets/css/prototype/approved/about.scss">
<div class="header">
    {% include patterns/header/header.md %}
</div>
<div class="breadcrumbs">
    {% include patterns/breadcrumb/breadcrumb-styled.md%}
</div>
<div class="intro__section">
    <div class="page__title">
        <h1 id="page__title"> {{ page.title }}</h1>
        <p>{{ page.intro | markdowify}}</p>
    </div>
    <div class="socials__spanish">
        <button>Espanol</button>
        <h4>Connect with us</h4>
        <div class="social__icons">
            <button>Facebook</button>
            <button>Twitter</button>
            <button>Youtube</button>
        </div>
    </div>
</div>
<div class="content__section">
    <div id="main-content" class="grid-container">
        <div class="cards">
            {% include patterns/card/card-styled.md  data=card %}
        </div>
        <div class="sidebar">
            {% include patterns/accordion/accordion-jk.md %}
        </div>
        <div class="overview__section">
            <div class="para__1">
                <h3>{{ page.first_subhead | markdowify}}</h3>
                <p>{{ page.first_para | markdowify}}</p>
            </div>
            <div class="para__2">
                <h3>{{ page.second_subhead | markdowify}}</h3>
                <p>{{ page.second_para | markdowify}}</p>
            </div>
            <div class="para__3">
                <h3>{{ page.third_subhead | markdowify}}</h3>
                <p>{{ page.third_para | markdowify}}</p>
            </div>
        </div>
    </div>
</div>

{% include patterns/footer/footer.md %}
  
{% include patterns/identifier/identifier-styled.md %}

