---
layout: prototype/colorVers/proto-default-color
---
<link rel="stylesheet" href="/assets/css/prototype/approved/basic-tabs.scss">

<div class="dark__bg">
    <div class="header__section">
        {% include patterns/header/header.md %}
    </div>
    <div class="breadcrumbs">
        {% include patterns/breadcrumb/breadcrumb-dark-bg.md%}
    </div>
    <div class="intro__section">
        <div class="page__title">
            <h1 id="page__title"> {{ page.title }}</h1>
            <p>{{ page.intro | markdowify}}</p>
        </div>
        <div class="right__col">
            <div class="spanish__button">
                {% include patterns/button/button-transparent.md %}
            </div>
            <div class="socials">
                <h2>Connect With Us</h2>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="content__section">
    <div class="callouts grid-container">
        <div class="left">
            {% include patterns/callout-box/callout-button-inverted.md %}
        </div>
        <div class="right">
            {% include patterns/callout-box/callout-button-inverted.md %}
        </div>
    </div>
    <div id="main-content">
        <div class="tabs">
            {% include patterns/tabs/vertical-tabs.md %}
            <p>Tabs Go Here</p>
        </div>
        <div class="overview__section">
            <div class="para__1">
                <h3>{{ page.first_subhead | markdowify}}</h3>
                <p>{{ page.first_para | markdowify}}</p>
            </div>
            <div class="para__2">
                <h3>{{ page.second_subhead | markdowify}}</h3>
                <p>{{ page.second_para | markdowify}}</p>
            </div>
            <div class="para__3">
                <h3>{{ page.third_subhead | markdowify}}</h3>
                <p>{{ page.third_para | markdowify}}</p>
            </div>
        </div>
    </div>
{% include patterns/footer/footer.md %}
{% include patterns/identifier/identifier-styled.md %}
</div>

