---
layout: prototype/colorVers/proto-default-color
---
<link rel="stylesheet" href="/assets/css/prototype/approved/cta-temp.scss">
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700,900|Ubuntu:400,500,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>

{%if page.full-header%}
    <div class="dark__bg">
        <div class="header__section">
            {% include patterns/header/header.md %}
        </div>
        <div class="breadcrumbs">
            {% include patterns/breadcrumb/breadcrumb-dark-bg.md%}
        </div>
        <div class="intro__section__full">
            <div class="page__title__full">
                <h1 id="page__title__full"> {{ page.title }}</h1>
                <p>{{ page.intro | markdowify}}</p>
            </div>
            <div class="right__col__full">
                <div class="spanish__button__full">
                    {% include patterns/button/button-transparent.md %}
                </div>
                <div class="cta__full">
                    {% include patterns/callout-box/callout-button.md %}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="header__intro">
        <div class="header">
            {% include patterns/header/header.md %}
        </div>
        <div class="breadcrumbs">
            {% include patterns/breadcrumb/breadcrumb-white-bg.md%}
        </div>
        <div class="intro__section grid-container">
            <div class="page__title">
                <h1 id="page__title"> {{ page.title }}</h1>
            </div>
            <div class="page__intro">
                <p>{{ page.intro | markdowify}}</p>
            </div>
            <div class="spanish__button">
                {% include patterns/button/button-inverted.md %}
            </div>
        </div>
    </div>
{% endif %}
{% if page.card-section % }
    <div class="card__section">
        <div class="cards grid-container">
            {% include patterns/card/card-with-button.md  data=card %}
        </div>
    </div>
{% endif %}

{% if page.content-type == "text" %}
    <div class="main__content">
        <div class="featured__events grid-container">
            <div class="para__1">
                <h2>{{ page.first_subhead | markdowify}}</h2>
                <p>{{ page.first_para | markdowify}}</p>
            </div>
            <div class="para__2">
                <h2>{{ page.second_subhead | markdowify}}</h2>
                <p>{{ page.second_para | markdowify}}</p>
            </div>
            <div class="para__3">
                <h2>{{ page.third_subhead | markdowify}}</h2>
                <p>{{ page.third_para | markdowify}}</p>
            </div>
            <div class="para__4">
                <h2>{{ page.fourth_subhead | markdowify}}</h2>
                <p>{{ page.fourth_para | markdowify}}</p>
            </div>
            {%if page.cta-bottom %}
                <div class="cta-button">
                    {% include patterns/button/cta-button-block.md %}
                </div>
            {%endif%}
        </div>
    </div>
{%endif%}
{%if page.content-type == "accordion" %}
    <div class="content__section">
        <div id="main-content" class="grid-container">
            {% include patterns/accordion/accordion.md %}
        </div>
        <div class="quick__exit">
            <span class="quick__exit__button"><a href="">Quick Exit</a></span>
        </div>
    </div>
{%endif%}
<div class="quick__exit">
    <span class="quick__exit__button"><a href="">Quick Exit</a></span>
</div>

<div class="footer">
    {% include patterns/footer/footer.md %}
</div>
<div class="identifier">
    {% include patterns/identifier/identifier-styled.md %}
</div>