---
layout: prototype/colorVers/proto-default-color
---
<link rel="stylesheet" href="/assets/css/prototype/approved/event-submit.scss">
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700,900|Ubuntu:400,500,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
<div class="header">
    {% include patterns/header/header.md %}
</div>
<div class="breadcrumbs">
    {% include patterns/breadcrumb/breadcrumb-styled.md%}
</div>
<div class="intro__section grid-container">
    <div class="page__title">
        <h1 id="page__title"> {{ page.title }}</h1>
    </div>
</div>
<div class="main__content">
    <div class="left__col">
        
    </div>
    <div class="main__col">
        <h2>Basic Info</h2>
        <div class="dropdown">

        </div>
        <div class="event__form">

        </div>
        <div class="radio__btns">

        </div>
        <div class="nav__btns">
            
        </div>
    </div>
</div>

<div class="footer">
    {% include patterns/footer/footer.md %}
</div>
<div class="identifier">
    {% include patterns/identifier/identifier-styled.md %}
</div>