---
layout: prototype/colorVers/proto-default-color
---
<link rel="stylesheet" href="/assets/css/prototype/approved/events-details.scss">
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700,900|Ubuntu:400,500,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>
<div class="header">
    {% include patterns/header/header.md %}
</div>
<div class="breadcrumbs">
    {% include patterns/breadcrumb/breadcrumb-styled.md%}
</div>
<div class="intro__section grid-container">
    <div class="page__title">
        <h1 id="page__title"> {{ page.title }}</h1>
    </div>
</div>
<div class="content__container grid-container">
    <div class="left__col">
        {% include patterns/button/button-inverted.md %}
        <h3>Sponsor</h3>
        <p class="sponsor__name">{{page.sponsor}}</p>
        <h3>Date and Time</h3>
        <p class="date">{{page.dates}}</p>
        <h3>Location</h3>
        <span class="format">{{page.format}}</span>
        <p class="address_line_1">{{page.address}}</p>
        <h3>Cost</h3>
        <p class="cost">{{page.cost}}</p>
        <h3>Continuing Education Units</h3>
        <p class="CEU">{{page.continuing-education-units}}</p>
    </div>
    <div class="main__col grid-container">
        <h2>About this Event</h2>
        <p>{{ page.about | markdowify}}</p>
        <h3>Additional Details</h3>
        <p>{{ page.details | markdowify}}</p>
        <h3>Who Should Attend this Conference</h3>
        <p>{{ page.attendee | markdowify}}</p>
        <h3>Topic Tags</h3>
        {% include patterns/tag/tag.md %}
        <div class="more_from_this_sponsor">
            <h2>More from this sponsor</h2>
            <a href="">See all events from this sponsor</a>
            <fieldset class="event_card_1">
                <span class="event__format">Virtual</span>
                <h3>Living the Protective Factors</h3>
                <p>Thu, Nov 18, 2021 | 11 AM EST</p>
                <p>Be Strong Families</p>
            </fieldset>
            <fieldset class="event_card_1">
                <span class="event__format">Virtual</span>
                <h3>Living the Protective Factors</h3>
                <p>Thu, Nov 18, 2021 | 11 AM EST</p>
                <p>Be Strong Families</p>
            </fieldset>
            <div class="callout__box">
            </div>
        </div>
    </div>
</div>
<div class="footer">
    {% include patterns/footer/footer.md %}
</div>
<div class="identifier">
    {% include patterns/identifier/identifier-styled.md %}
</div>
