---
layout: prototype/colorVers/proto-default-color
---
<link rel="stylesheet" href="/assets/css/prototype/approved/policies.scss">
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700,900|Ubuntu:400,500,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>

<div class="dark__bg">
    <div class="header__section">
        {% include patterns/header/header.md %}
    </div>
    <div class="breadcrumbs">
        {% include patterns/breadcrumb/breadcrumb-styled.md%}
    </div>
    <div class="intro__section grid-container">
        <div class="page__title">
            <h1 id="page__title"> {{ page.title }}</h1>
            <p>{{ page.intro | markdowify}}</p>
        </div>
    </div>
</div>


<div class="content__section">
    <div id="main-content">
        <div class="tabs">
            {% include patterns/tabs/vertical-tabs.md %}
            <p>Tabs Go Here</p>
        </div>
        <div class="content__section">
            <div class="para__1">
                <h3>{{ page.first_subhead | markdowify}}</h3>
                <p>{{ page.first_para | markdowify}}</p>
            </div>
            <div class="para__2">
                <h3>{{ page.second_subhead | markdowify}}</h3>
                <p>{{ page.second_para | markdowify}}</p>
            </div>
            <div class="accordion">
                {% include patterns/accordion/accordion.md %}
            </div>
        </div>
    </div>
{% include patterns/footer/footer.md %}
{% include patterns/identifier/identifier-styled.md %}
</div>