---
layout: prototype/proto-default
---
<link rel="stylesheet" href="/assets/css/prototype/events.scss">
<div class="header">

</div>
<div class="breadcrumbs">
    
</div>
<div class="feature">
    <img src="{{ page.feature-image }}">
</div>
<div class="main">
    <h1 id="page-title">{{ page.title }}</h1>
    <div class="left-aside">
        <div class="filter-section">
            <p class="inline" id="filter_heading">Filter your results</p>
            <button class="inline" id="filter_button">Clear Filters</button>
        </div>
        <div class="side-nav">
            <ul>
                <li class="list-item">Event Month</li>
                <li class="list-item">Event Location</li>
                <li class="list-item">Event Type</li>
                <li class="list-item">Topic</li>
                <li class="list-item">Sponsoring Organization</li>
                <li class="list-item">Event Frequency</li>
                <li class="list-item">Continuing Education Units</li>
            </ul>
        </div>
        <div class="cards__side">
            {% include patterns/card/card-jk.md  data=card %}
            <br>
            {% include patterns/card/card-jk.md  data=card %}
        </div>
    </div>
    <div class="center-main">
        <div class="search-area">
            <h3>Results</h3>
            <input type="text" placeholder="Search">
            <button>Search</button>
        </div>
        <div class="results-shown">
            <p class="sort">Results 1-15 of 45</p>
            <p class="sort">View Results</p>
            <p class="sort">Sort By</p>
        </div>
        <br><br><br><br>
        <div class="events-list">
            <div class="events-list-item">
                <div class="inline" style="vertical-align: top;">
                    <img class="calendar-icon" src="https://via.placeholder.com/100">
                </div>
                <div class="inline event_details">
                    <a href="" class="event-name">Event Name</a>
                    <br>
                    <h5 class="event-host">Event Host</h5>
                    <p class="event-detail">Location:</p>
                    <p class="event-detail"> | </p>
                    <p class = "event-detail">Time: </p>
                    <p class="contact">Contact Information:</p>
                    <p>Event Description</p>
                </div>
            </div>
            <div class="events-list-item">
                <div class="inline" style="vertical-align: top;">
                    <img class="calendar-icon" src="https://via.placeholder.com/100">
                </div>
                <div class="inline event_details">
                    <a href="" class="event-name">Event Name</a>
                    <br>
                    <h5 class="event-host">Event Host</h5>
                    <p class="event-detail">Location:</p>
                    <p class="event-detail"> | </p>
                    <p class = "event-detail">Time: </p>
                    <p class="contact">Contact Information:</p>
                    <p>Event Description</p>
                </div>
            </div>
            <div class="events-list-item">
                <div class="inline" style="vertical-align: top;">
                    <img class="calendar-icon" src="https://via.placeholder.com/100">
                </div>
                <div class="inline event_details">
                    <a href="" class="event-name">Event Name</a>
                    <br>
                    <h5 class="event-host">Event Host</h5>
                    <p class="event-detail">Location:</p>
                    <p class="event-detail"> | </p>
                    <p class = "event-detail">Time: </p>
                    <p class="contact">Contact Information:</p>
                    <p>Event Description</p>
                </div>
            </div>
            <div class="events-list-item">
                <div class="inline" style="vertical-align: top;">
                    <img class="calendar-icon" src="https://via.placeholder.com/100">
                </div>
                <div class="inline event_details">
                    <a href="" class="event-name">Event Name</a>
                    <br>
                    <h5 class="event-host">Event Host</h5>
                    <p class="event-detail">Location:</p>
                    <p class="event-detail"> | </p>
                    <p class = "event-detail">Time: </p>
                    <p class="contact">Contact Information:</p>
                    <p>Event Description</p>
                </div>
            </div>
            <div class="events-list-item">
                <div class="inline" style="vertical-align: top;">
                    <img class="calendar-icon" src="https://via.placeholder.com/100">
                </div>
                <div class="inline event_details">
                    <a href="" class="event-name">Event Name</a>
                    <br>
                    <h5 class="event-host">Event Host</h5>
                    <p class="event-detail">Location:</p>
                    <p class="event-detail"> | </p>
                    <p class = "event-detail">Time: </p>
                    <p class="contact">Contact Information:</p>
                    <p>Event Description</p>
                </div>
            </div>
            <div class="events-list-item">
                <div class="inline" style="vertical-align: top;">
                    <img class="calendar-icon" src="https://via.placeholder.com/100">
                </div>
                <div class="inline event_details">
                    <a href="" class="event-name">Event Name</a>
                    <br>
                    <h5 class="event-host">Event Host</h5>
                    <p class="event-detail">Location:</p>
                    <p class="event-detail"> | </p>
                    <p class = "event-detail">Time: </p>
                    <p class="contact">Contact Information:</p>
                    <p>Event Description</p>
                </div>
            </div>
            <div class="events-list-item">
                <div class="inline" style="vertical-align: top;">
                    <img class="calendar-icon" src="https://via.placeholder.com/100">
                </div>
                <div class="inline event_details">
                    <a href="" class="event-name">Event Name</a>
                    <br>
                    <h5 class="event-host">Event Host</h5>
                    <p class="event-detail">Location:</p>
                    <p class="event-detail"> | </p>
                    <p class = "event-detail">Time: </p>
                    <p class="contact">Contact Information:</p>
                    <p>Event Description</p>
                </div>
            </div>
        </div>
        <div class="next-page-buttons">
            <a href="" class="next-page">Previous</a>
            <button class="next-page">1</button>
            <p class="next-page">...</p>
            <button class="next-page">9</button>
            <button class="next-page">10</button>
            <button class="next-page">11</button>
            <p class="next-page">...</p>
            <button class="next-page">24</button>
            <a href="" class="next-page">Next</a>
        </div>
    </div>
    <br><br><br>
</div>