---
layout: prototype/proto-default
---
<link rel="stylesheet" href="/assets/css/prototype/event.scss">
<div class="header">

</div>
<div class="breadcrumbs">
    
</div>
<div class="feature">
    <img src="{{ page.feature-image }}">
</div>
<div class="main">
    <h1 id="page__title">{{page.title}}</h1>
    <div class="column left__col">
      {% include partials/prototype/filter.md %}
      <div class="cards__area">
        {% include patterns/card/card-jk.md  data=card %}
        <br>
        {% include patterns/card/card-jk.md  data=card %}
      </div>
    </div>
    <div class="column right__col">
      <div>
          <h3>Results</h3>
          {% include patterns/search/search-jk.md %}
      </div>
      <div class="sort__results__area">
        <div>
          <table>
            <tr>
              <td>
                <span style="float:left">Displaying<input type="text" name="first-name" class="display_input"/></span>
                <span style="float:left">View Results
                    <input type="number" name="first-name" class="form-first-name" /></span>
                 <span style="float:right">Sort by
                     <select name="last-name" class="form-last-name">
                      <option value="volvo">Date of Event - Soonest First</option>
                      <option value="saab">Relevance</option>
                     </select>
                  </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="events__results">
          <div class="events__results__item">
              {%for item in site.data.prototype.events%}
              <div class="calendar__icon">
                <img src="https://via.placeholder.com/100">
              </div>
                    <div class="event__details">
                      <span class="event__info">{{item.date}}</span>
                      <span class="event__info">|</span>
                      <span class="event__info">{{item.time}}</span>
                      <br><br>
                      <a href="">{{item.event}}</a>
                      <br>
                      <span class="event__sponsor">{{item.sponsor}}</span>
                      <br><br>
                      <span class="event__desc">{{item.desc}}</span>
                    </div>
              {%endfor%}
          </div>
          <div class="page__nav">
            <table>
              <tbody>
                <tr>
                  <td><a href=""><i class="fa fa-chevron-left"></i>Previous</a></td>
                  <td><button>1</button></td>
                  <td>...</td>
                  <td><button>9</button></td>
                  <td><button>10</button></td>
                  <td><button>11</button></td>
                  <td>...</td>
                  <td><button>24</button></td>
                  <td><a href="">Next<i class="fa fa-chevron-right"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
  <script>
    var dropdown=document.getElementsByClassName("drop__btn");
    var i;

    for (i=0; i<dropdown.length; i++){
      dropdown[i].addEventListener("click", function(){
        this.classList.toggle("active");
        var dropdownContent=this.nextElementSibling;
        if (dropdownContent.style.display=="block"){
          dropdownContent.style.display="none";
        }else{
          dropdownContent.style.display="block";
        }
      });
    }
  </script>