---
layout: prototype/proto-default
---
<link rel="stylesheet" href="/assets/css/prototype/events.scss">
<div class="header">

</div>
<div class="breadcrumbs">
    
</div>
<div class="feature">
    <img src="{{ page.feature-image }}">
</div>
<div class="main">
    <h1 id="page-title">{{ page.title }}</h1>
    <div class="left-aside">
        <div class="filter-section">
            <h3 class="inline" id="filter_heading">Filter your results</h3>
            <button class="inline" id="filter_button">Clear Filters</button>
        </div>
        <div class="button-group">
                <button class="list-item">Event Month</button>
                <button class="list-item">Event Location</button>
                <button class="list-item">Event Type</button>
                <button class="list-item">Topic</button>
                <button class="list-item">Sponsoring Organization</button>
                <button class="list-item">Event Frequency</button>
                <button class="list-item">Continuing Education Units</button>
        </div>
        <div class="cards__side">
            {% include patterns/card/card-jk.md  data=card %}
            <br>
            {% include patterns/card/card-jk.md  data=card %}
        </div>
    </div>
    <div class="center-main">
        <div class="search-area">
            <h3>Results</h3>
            <input type="text" placeholder="Search">
            <button id="search__button">Search</button>
        </div>
        <div class="results-shown">
            <p class="sort">Displaying</p>
            <p class="sort">View Results</p>
            <p class="sort">Sort By</p>
        </div>
        <br><br><br><br>
        <div class="events__list">
            <div class="event-list__item">
                <div class="calendar__icon">
                    <img src="https://via.placeholder.com/100"
                </div>
                <div class="event__details">
                    <span><a href="">Event Name</a></span><br>
                    <span class="event__sponsor">Event Host</span>
                    <br><br>
                    <span class="event__info">Location: </span>
                    <span class="event__info">|</span>
                    <span class="event__info">Time: </span>
                    <br><br>
                    <span class="event__info">Contact Information</span>
                    <br><br>
                    <span class="event__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                        consequat.</span><br>
                </div>
            </div>
            <div class="event-list__item">
                <div class="calendar__icon">
                    <img src="https://via.placeholder.com/100"
                </div>
                <div class="event__details">
                    <span><a href="">Event Name</a></span><br>
                    <span class="event__sponsor">Event Host</span>
                    <br><br>
                    <span class="event__info">Location: </span>
                    <span class="event__info">|</span>
                    <span class="event__info">Time: </span>
                    <br><br>
                    <span class="event__info">Contact Information</span>
                    <br><br>
                    <span class="event__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                        consequat.</span><br>
                </div>
            </div>
            <div class="event-list__item">
                <div class="calendar__icon">
                    <img src="https://via.placeholder.com/100"
                </div>
                <div class="event__details">
                    <span><a href="">Event Name</a></span><br>
                    <span class="event__sponsor">Event Host</span>
                    <br><br>
                    <span class="event__info">Location: </span>
                    <span class="event__info">|</span>
                    <span class="event__info">Time: </span>
                    <br><br>
                    <span class="event__info">Contact Information</span>
                    <br><br>
                    <span class="event__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                        consequat.</span><br>
                </div>
            </div>
            <div class="event-list__item">
                <div class="calendar__icon">
                    <img src="https://via.placeholder.com/100"
                </div>
                <div class="event__details">
                    <span><a href="">Event Name</a></span><br>
                    <span class="event__sponsor">Event Host</span>
                    <br><br>
                    <span class="event__info">Location: </span>
                    <span class="event__info">|</span>
                    <span class="event__info">Time: </span>
                    <br><br>
                    <span class="event__info">Contact Information</span>
                    <br><br>
                    <span class="event__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                        consequat.</span><br>
                </div>
            </div>
            <div class="event-list__item">
                <div class="calendar__icon">
                    <img src="https://via.placeholder.com/100"
                </div>
                <div class="event__details">
                    <span><a href="">Event Name</a></span><br>
                    <span class="event__sponsor">Event Host</span>
                    <br><br>
                    <span class="event__info">Location: </span>
                    <span class="event__info">|</span>
                    <span class="event__info">Time: </span>
                    <br><br>
                    <span class="event__info">Contact Information</span>
                    <br><br>
                    <span class="event__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                        consequat.</span><br>
                </div>
            </div>
            <div class="event-list__item">
                <div class="calendar__icon">
                    <img src="https://via.placeholder.com/100"
                </div>
                <div class="event__details">
                    <span><a href="">Event Name</a></span><br>
                    <span class="event__sponsor">Event Host</span>
                    <br><br>
                    <span class="event__info">Location: </span>
                    <span class="event__info">|</span>
                    <span class="event__info">Time: </span>
                    <br><br>
                    <span class="event__info">Contact Information</span>
                    <br><br>
                    <span class="event__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                        consequat.</span><br>
                </div>
            </div>
            <div class="event-list__item">
                <div class="calendar__icon">
                    <img src="https://via.placeholder.com/100"
                </div>
                <div class="event__details">
                    <span><a href="">Event Name</a></span><br>
                    <span class="event__sponsor">Event Host</span>
                    <br><br>
                    <span class="event__info">Location: </span>
                    <span class="event__info">|</span>
                    <span class="event__info">Time: </span>
                    <br><br>
                    <span class="event__info">Contact Information</span>
                    <br><br>
                    <span class="event__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                        consequat.</span><br>
                </div>
            </div>

        </div>
        <div class="search-results__buttons">
            <a href="">Previous</a>
            <button class="page__select">1</button>
            <span>...</span>
            <button class="page__select">9</button>
            <button class="page__select">10</button>
            <button class="page__select">11</button>
            <span>...</span>
            <button class="page__select">24</button>
            <a href="">Next</a>
        </div>
    </div>
    <br><br><br>
</div>