---
layout: prototype/colorVers/proto-default-color
---
<link rel="stylesheet" href="/assets/css/prototype/approved/topics-landing-wide.scss">

{% include patterns/header/header-styled.md %}

<div class="content__section">
    <div id="main-content" class="grid-container">
        <div class="cards">
            {% include patterns/card/card-styled.md  data=card %}
        </div>
    </div>
</div>

{% include patterns/footer/footer-styled.md %}
  
{% include patterns/identifier/identifier-styled.md %}

