---
layout: prototype/proto-default
---
<link rel="stylesheet" href="/assets/css/prototype/stress.scss">
<div class="feature">
    <img src="{{ page.feature-image }}">
</div>

<div id="main-content" class="grid-container">
    <h1> {{ page.title }}</h1>
    <h5>Date: {{page.date}} | Length: {{page.video-length}}</h5>
    <p class="intro-text">{{ page.intro | markdowify}}</p>

    <video width="75%" height="auto" controls class="video">
        <source src="{{page.video}}"" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
    <br>
    <a href="">View Transcript: Everyone Experiences Stress</a>
    <span>[PDF, 4 KB]</span>
    <a href="">Everyone Experiences Stress (audio description)</a>
    
    <p class="body-text">{{ page.body | markdowify}}</p>

    {% include structures/related/related-list.md  data=links %}
    {% include structures/related/related-resources.md  data=resources %}
    
</div> 