---
layout: prototype/colorVers/proto-default-color
---
<link rel="stylesheet" href="/assets/css/prototype/approved/topics-landing-wide.scss">

<div class="page__header">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>

  <div class="usa-overlay"></div>
<header class="usa-header usa-header--extended">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo__text">
        <div class="mobile-lg:grid-col-auto">
          <img
            class="usa-footer__logo-img"
            src="/assets/img/logo-img.png"
            alt=""
          />
          <a href="javascript:void(0)" style="font-size:large;" title="&lt;Project title&gt;">
            Child Welfare Information Gateway
          </a>
        </div>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  
  <nav aria-label="Primary navigation" class="topnav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close">
        <img src="/assets/img/usa-icons/close.svg" role="img" alt="Close" />
      </button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <button 
          class="active usa-accordion__button"
          aria-expanded="false"
          aria-controls="extended-nav-section-one"
          >
            <span>&lt;Current Section&gt;</span>
          </button>
          <ul id="extended-nav-section-one" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="">Navigation Link</a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="">Navigation Link</a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="">Navigation Link</a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item">
          <button 
          class="usa-accordion__button"
          aria-expanded="false"
          aria-controls="extended-nav-section-two"
          >
            <span>&lt;Section&gt;</span>
          </button>
          <ul id="extended-nav-section-two" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
              <a href="">Navigation Link</a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="">Navigation Link</a>
            </li>
            <li class="usa-nav__submenu-item">
              <a href="">Navigation Link</a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item simple__link">
          <a href="javascript:void(0)"><span>&lt;Simple link&gt;</span></a>
        </li>
    </ul>
    <hr>
      <div class="usa-nav__secondary">
        <ul class="usa-nav__secondary-links search__links">
          <li class="usa-nav__secondary-item">
            <a href="">How to Report Abuse or Neglect</a>
          </li>
          <li class="usa-nav__secondary-item">
            <a href="">Find Help With a Personal Situation</a>
          </li>
        </ul>

        <form class="usa-search usa-search--small" role="search">
          <label class="usa-sr-only" for="extended-search-field-en-small">
            Search
          </label>
          <input
            class="usa-input"
            id="extended-search-field-en-small"
            type="search"
            name="search"
          />
          <button class="search__button" type="submit">
            <span class="usa-sr-only">Search</span>
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>

<div class="grid-container">
<nav class="usa-breadcrumb" id="breadcrumb__section" aria-label="Breadcrumbs,,">
  <ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <a href="javascript:void(0);" class="usa-breadcrumb__link">
        <span>Home</span>
      </a>
    </li>
    <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
      <span>Topic</span>
    </li>
  </ol>
</nav>
</div>
    <div class="grid-container page__intro">
        <div>
            <h1> {{ page.title }}</h1>
            <p class="intro-text">{{ page.intro | markdowify}}</p>
        </div>
        <div>
            <img src="{{page.feature-image}}">
        </div>
    </div>
</div>

<div class="content__section">
    <div id="main-content" class="grid-container">
        {% include patterns/card/card-topics-landing.md  data=card %}
    </div>
</div>

<footer class="usa-footer">
    <div class="usa-footer__primary-section page__footer">
      <nav class="usa-footer__nav" aria-label="Footer navigation">
        <div class="search__container__footer">
          <h3 class="site-preview-heading">Sign up</h3>
          <section aria-label="Default search component">
            <form class="usa-search" role="search">
              <label class="usa-sr-only" for="search-field-search-field"> Your email address </label>
              <input
                class="usa-input"
                id="search-field-search-field"
                type="search"
                name="search"
              />
              <button class="usa-button" type="submit">
                <span class="usa-search__submit-text">Sign up</span>
              </button>
            </form>
          </section>
        </div>
        <ul class="grid-row grid-gap">
          <li
            class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
              footer__list-item
            "
          >
            <a class="usa-footer__primary-link" href="javascript:void(0);">
              Topic
            </a>
              <ul class="secondary__link">
                <li class="secondary__link-item"><a href="">Secondary link</a></li>
                <li class="secondary__link-item"><a href="">Secondary link <br> that's a bit longer<br> than most 
                  of the <br>others</a></li>
                <li class="secondary__link-item"><a href="">Secondary link</a></li>
                <li class="secondary__link-item"><a href="">Secondary link</a></li>
              </ul>
          </li>
          <li
            class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
              footer__list-item
            "
          >
            <a class="usa-footer__primary-link" href="javascript:void(0);">
              Topic
            </a>
              <ul class="secondary__link">
                <li class="secondary__link-item"><a href="">Secondary link</a></li>
                <li class="secondary__link-item"><a href="">Secondary link <br> that's pretty long</a></li>
                <li class="secondary__link-item"><a href="">Secondary link</a></li>
                <li class="secondary__link-item"><a href="">Secondary link</a></li>
              </ul>
          </li>
  
          <li
            class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
              footer__list-item
            "
          >
            <a class="usa-footer__primary-link" href="javascript:void(0);">
              Topic
            </a>
            <ul class="secondary__link">
              <li class="secondary__link-item"><a href="">Secondary link</a></li>
              <li class="secondary__link-item"><a href="">Secondary link</a></li>
              <li class="secondary__link-item"><a href="">Secondary link</a></li>
              <li class="secondary__link-item"><a href="">Secondary link</a></li>
            </ul>
          </li>
  
          <li
            class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
              footer__list-item
            "
          >
            <a class="usa-footer__primary-link" href="javascript:void(0);">
              Topic
            </a>
            <ul class="secondary__link">
              <li class="secondary__link-item"><a href="">Secondary link</a></li>
              <li class="secondary__link-item"><a href="">Secondary link</a></li>
              <li class="secondary__link-item"><a href="">Secondary link</a></li>
              <li class="secondary__link-item"><a href="">Secondary link</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  
    <div class="usa-footer__secondary-section page__footer">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div
            class="
              usa-footer__logo
              grid-row
              mobile-lg:grid-col-6 mobile-lg:grid-gap-2
            "
          >
            <div class="mobile-lg:grid-col-auto">
              <img
                class="usa-footer__logo-img"
                src="/assets/img/logo-img.png"
                alt=""
              />
            </div>
            <div class="mobile-lg:grid-col-auto">
              <p class="usa-footer__logo-heading">Child Welfare Information Gateway</p>
            </div>
          </div>
          <div class="usa-footer__contact-links mobile-lg:grid-col-6">
            <div class="usa-footer__social-links grid-row grid-gap-1">
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--facebook"
                  href="javascript:void(0);"
                >
                  <span>Facebook</span>
                </a>
              </div>
  
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--twitter"
                  href="javascript:void(0);"
                >
                  <span>Twitter</span>
                </a>
              </div>
  
              <div class="grid-col-auto">
                <a
                  class="usa-social-link usa-social-link--youtube"
                  href="javascript:void(0);"
                >
                  <span>YouTube</span>
                </a>
              </div>
            </div>
            <p>Agency Contact Center</p>
            <address class="usa-footer__address">
              <div class="usa-footer__contact-info grid-row grid-gap">
                <div class="grid-col-auto">
                  <a href="tel:1-800-555-5555"> (800) 555-GOVT </a>
                </div>
                <div class="grid-col-auto">
                  <a href="mailto:&lt;info@agency.gov&gt;">
                    info@agency.gov
                  </a>
                </div>
              </div>
            </address>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
<div class="identifier__section">
  <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier,,,">
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href="javascript:void(0);" class="usa-identifier__logo">
          <img class="usa-identifier__logo-img"
          src="/assets/img/cb-logo-white.svg"
          alt="&lt;Parent agency&gt; logo"
          role="img"
          />
        </a>
        <a href="javascript:void(0);" class="usa-identifier__logo">
          <img
            class="usa-identifier__logo-img"
            src="/assets/img/acf-logo-white.svg"
            alt="&lt;Other agency&gt; logo"
            role="img"
          />
        </a>
      </div>
      <div class="usa-identifier__identity" aria-label="Agency description">
        <a href="https://www.childwelfare.gov/" id="childwelfareLink">childwelfare.gov</a>
        <p class="usa-identifier__identity-disclaimer">
          An official website of the
          <a href="https://www.acf.hhs.gov/">Administration for Children & Families</a>
          and the           
          <a href="https://www.acf.hhs.gov/cb/">Children's Bureau</a>
        </p>
      </div>
    </div>
  </section>
  <nav
    class="usa-identifier__section usa-identifier__section--required-links"
    aria-label="Links to help navigate the policies and procedures for Child Welfare Gateway."
  >
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        <li class="usa-identifier__required-links-item">
          <a href="https://www.acf.hhs.gov/cb/" class="usa-identifier__required-link">About the Children's Bureau</a
          >
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://www.childwelfare.gov/accessibility/" class="usa-identifier__required-link"
            >Accessibility support</a
          >
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.acf.hhs.gov/foia"
            class="usa-identifier__required-link usa-link"
            >FOIA requests</a
          >
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.acf.hhs.gov/no-fear-act"
            class="usa-identifier__required-link usa-link"
            >No FEAR Act data</a
          >
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://oig.hhs.gov/"
            class="usa-identifier__required-link usa-link"
            >Office of the Inspector General</a
          >
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.childwelfare.gov/performancereports/"
            class="usa-identifier__required-link usa-link"
            >Performance reports</a
          >
        </li>
        <li class="usa-identifier__required-links-item">
          <a
            href="https://www.childwelfare.gov/privacypolicy/"
            class="usa-identifier__required-link usa-link"
            >Privacy policy</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <section
    class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services,,,"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        Looking for U.S. government information and services?
      </div>
      <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
    </div>
  </section>
</div>
</div>

