---
layout: prototype/colorVers/proto-default-color
---
<link rel="stylesheet" href="/assets/css/prototype/approved/topics-landing-wide.scss">

{% include patterns/header/header-styled.md %}

<div class="breadcrumbs">
    {% include patterns/breadcrumb/breadcrumb-styled.md%}
</div>

<div class="grid-container">
    </div>
        <div class="page__intro">
            <div class="intro__text">
                <h1 id="page__title"> {{ page.title }}</h1>
                <p>{{ page.intro | markdowify}}</p>
            </div>
            <div class="feature__img">
                <img src="assets/img/prototype/CWIG-landing-page.jpg">
            </div>
        </div>
    </div>

<div class="content__section">
    <div id="main-content" class="grid-container">
        <div class="cards">
            {% include patterns/card/card-styled.md  data=card %}
        </div>
    </div>
</div>

{% include patterns/footer/footer-styled.md %}
  
{% include patterns/identifier/identifier-styled.md %}

