---
layout: prototype/colorVers/proto-default-color
---
<link rel="stylesheet" href="/assets/css/prototype/approved/resource-details.scss">
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700,900|Ubuntu:400,500,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>

<div class="header__intro">
    <div class="header">
        {% include patterns/header/header.md %}
    </div>
    <div class="breadcrumbs">
        {% include patterns/breadcrumb/breadcrumb-white-bg.md%}
    </div>
</div>

<div class="content grid-container">
    <div class="title">
        <h1 id="page__title"> {{ page.title }}</h1>
    </div>
    <div class="share">
        <div class="date">
            <span>Date</span>
        </div>
        <div class="social__media__icons">

        </div>
    </div>
    <div class="main">
        <div class="content__info">
            
        </div>
        <div class="first__para main__text">
            <p>{{ page.first_para | markdowify}}</p>
        </div>
        <div class="audio">
            {% include patterns/audioplayer/audioplayer.md %}
        </div>
        <div class="second__para main__text">
            <p>{{ page.second_para | markdowify}}</p>
        </div>
        <div class="quote main__text">
            <p>{{ page.quote | markdowify}}</p>
            <p id="speaker">{{ page.speaker | markdowify}}</p>
        </div>
        <div class="third__para main__text">
            <p>{{ page.third_para | markdowify}}</p>
        </div>
        <div class="also__in__this__series">
            <h2>Also in this Series</h2>
            <a href="">{{ page.series_link_1 | markdowify }}</a>
            <br>
            <a href="">{{ page.series_link_2 | markdowify }}</a>
        </div>
    </div>
</div>
<div class="related__resources">
    <div class="cards grid-container">
        {% include patterns/card/card-styled.md  data=card %}
    </div>
</div>
<div class="footer">
    {% include patterns/footer/footer.md %}
</div>
<div class="identifier">
    {% include patterns/identifier/identifier-styled.md %}
</div>