---
layout: prototype/colorVers/proto-default-color
---
<link rel="stylesheet" href="/assets/css/prototype/approved/two-col.scss">
<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700,900|Ubuntu:400,500,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet'>

<div class="header__intro">
    <div class="header">
        {% include patterns/header/header.md %}
    </div>
    <div class="breadcrumbs">
        {% include patterns/breadcrumb/breadcrumb-white-bg.md%}
    </div>
    <div class="intro__section grid-container">
        <div class="page__title">
            <h1 id="page__title"> {{ page.title }}</h1>
            <p>{{ page.intro | markdowify}}</p>
        </div>
        {%if page.summary-box %}
            <div class="callout__box">
                {% include patterns/callout-box/callout-box-blue.md%}
            </div>
        {%endif%}
    </div>
</div>
{%if page.feature-section%}
    <div class="feature__section">
        <div class="cards grid-container">
            {% include patterns/card/card-styled.md  data=card %}
        </div>
    </div>
{%endif%}
<div class="content">
    <div class="left__col">
        {% include patterns/accordion/accordion-with-filters.md %}
    </div>
    <div class="main__col">
        {% include patterns/search/search-styled.md %}
        <div class="results__filters_four_col">
            <div class="displaying">
                <span>Displaying 1-15 of 45</span>
            </div>
            {%if page.view-results%}
                <div class="view__results">
                    {% include patterns/number-input/number-input.md %}
                </div>
            {%endif%}
            <div class="sort__by">
                {% include patterns/select-input/select-input.md %}
            </div>
        </div>
        {%if page.applied-filters%}
        <div class="flex">
            <div class="applied__filters">
                <span class="applied-filters__tag">Applied Filters</span>
                {% include patterns/tag/tag.md %}
            </div>
        </div>
        {%endif%}
        {%if page.results == "events"%}
            <div class="search__results">
                {%for item in site.data.prototype.events%}
                    <div class="event__details">
                        <span class="event__format">{{item.format}}</span>
                        <div class="date__time">
                            <p>{{item.date}}</p>
                            <p>|</p>
                            <p>{{item.time}}</p>
                        </div>
                        <a href="">{{item.event}}</a>
                        <p class="event__sponsor">{{item.sponsor}}</p>
                        <p>{{item.desc}}</p>
                    </div>
                {%endfor%}
            </div>
        {%endif%}
        {%if page.results == "subtopics"%}
            <div class="search__results">
                {% for item in page.content-list%}
                    <div class="subtopic__details">
                        <div class="content__icon">
                            <img src="{{item.icon}}">
                        </div>
                        <div class="content__information">
                            <div class="content__title">
                                <a href="">{{item.title}}</a>
                            </div>
                            <div class="pdf__size">
                                <span class="pdf-size">{{item.size}}</span>
                            </div>
                            <div class="content__desc">
                                <p>{{item.desc}}</p>
                            </div>
                            <div class="content__type">
                                <span>{{item.type}}</span>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            </div>
            <div class="related__series grid-container">
                <p>Page shows 15 results</p>
                {% include patterns/callout-box/callout-box-secondary.md %}
            </div>
        {%endif%}
        <div class="pagination">
            {% include patterns/pagination/pagination-unbounded.md %}
        </div>
    </div>
</div>
<div class="footer">
    {% include patterns/footer/footer.md %}
</div>
<div class="identifier">
    {% include patterns/identifier/identifier-styled.md %}
</div>