.inverted__button{
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 0.9;
    color: #005ea2;
    background-color: white;
    appearance: none;
    border: solid #005ea2;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 0.5rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    width: auto;
}
.disabled__button{
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 0.9;
    color: #005ea2;
    background-color: #c9c9c9;;
    appearance: none;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 0.5rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    width: auto;
}
.focused__button{
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 0.9;
    color: white;
    background-color: #005ea2;
    appearance: none;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 0.5rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    outline-offset: 0.25rem;
    outline: 0.25rem solid #2491ff;
    width: auto;
}
.active__button{
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 0.9;
    appearance: none;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 0.5rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #162e51;
    width: auto;
}
.hover__button{
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 0.9;
    appearance: none;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 0.5rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    width: auto;
    color: white;
    background-color: #1a4480;
    border-bottom: 0;
    text-decoration: none;
}
.default__button{
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 0.9;
    color: white;
    background-color: #005ea2;
    appearance: none;
    border: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 0.5rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    width: auto;
}
.transparent__button{
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 0.9;
    color: white;
    background-color: transparent;
    appearance: none;
    border: solid white;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 0.5rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    width: auto;
}
.dark__transparent__button{
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 0.9;
    color: #002552;
    background-color: transparent;
    appearance: none;
    border: solid #002552;
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin-right: 0.5rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    width: auto;
}