<div class="filter__dropdown">
    <button onclick="dropFunction()" class="drop__btn">Event Month
      <i class="fa fa-plus"></i>
    </button>
    <div id="dropMenu1" class="dropdown-content">
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
    </div>
    <button onclick="dropFunction()" class="drop__btn">Event Location
      <i class="fa fa-plus"></i>
    </button>
    <div id="dropMenu1" class="dropdown-content">
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
    </div>
    <button onclick="dropFunction()" class="drop__btn">Event Type
      <i class="fa fa-plus"></i>
    </button>
    <div id="dropMenu1" class="dropdown-content">
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="Virtual" name="Virtual" value="Virtual">
        <label for="Virtual">Virtual</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="In-Person" name="In-Person" value="In-Person">
        <label for="In-Person">In-Person</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="Hybrid" name="Hybrid" value="Hybrid">
        <label for="Hybrid">Hybrid</label>
      </div>
    </div>
    <button onclick="dropFunction()" class="drop__btn">Topic
      <i class="fa fa-plus"></i>
    </button>
    <div id="dropMenu1" class="dropdown-content">
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
    </div>
    <button onclick="dropFunction()" class="drop__btn">Sponsoring Organization
      <i class="fa fa-plus"></i>
    </button>
    <div id="dropMenu1" class="dropdown-content">
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
    </div>
    <button onclick="dropFunction()" class="drop__btn">Event Frequency
      <i class="fa fa-plus"></i>
    </button>
    <div id="dropMenu1" class="dropdown-content">
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
    </div>
    <button onclick="dropFunction()" class="drop__btn">Continuing Education Units
      <i class="fa fa-plus"></i>
    </button>
    <div id="dropMenu1" class="dropdown-content">
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
      <div class="check_option">
        <input type="checkbox" id="All_Types" name="All_Types" value="All Types">
        <label for="All_Types">All Types</label>
      </div>
    </div>
</div>
<script>
    var dropdown=document.getElementsByClassName("drop__btn");
    var i;

    for (i=0; i<dropdown.length; i++){
      dropdown[i].addEventListener("click", function(){
        this.classList.toggle("active");
        var dropdownContent=this.nextElementSibling;
        if (dropdownContent.style.display=="block"){
          dropdownContent.style.display="none";
        }else{
          dropdownContent.style.display="block";
        }
      });
    }
  </script>